
<app-header></app-header>
<ion-content >


  <div id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>




  <ion-tabs>
    <ion-tab-bar slot="bottom">
       <!-- (click)="openHome()" -->
      <ion-tab-button  tab="home" routerLink="/dashboard" >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <!-- (click)="quadrant()" -->
       <ion-tab-button tab="category" routerLink="/dashboard/category">
        <ion-icon name="locate-outline"></ion-icon>
        <ion-label>Categorias</ion-label>
      </ion-tab-button>

      <!-- (click)="report()" -->
      <ion-tab-button tab="task"  routerLink="/dashboard/task">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>Tareas</ion-label>
      </ion-tab-button>
      </ion-tab-bar>
      </ion-tabs>
</ion-content>
